<h2>Line Chart Example</h2>

<div id="my_line_chart"></div>

<%= raw Seer::visualize(
      @data, 
      :as => :line_chart,
      :in_element => 'my_line_chart',
      :series => {
        :series_label => 'name',
        :data_label => 'date',
        :data_method => 'quantity',
        :data_series => @series
      },
      :chart_options => { 
        :height => 300,
        :width => 900,
        :axis_font_size => 11,
        :colors => [],
        :title => "Widget Quantities",
        :point_size => 5
      }
     )
 -%>

<h2>Controller Code</h2>

<blockquote><code><pre>
  def line_chart
    @data = Widget.all
    @series = @data.map{|w| w.widget_stats}
  end
</pre></code></blockquote>

<h2>View Code</h2>

<blockquote><code><pre>

&lt;div id="my_line_chart"&gt;&lt;/div&gt;

&lt;%= Seer::visualize(
      @data, 
      :as => :line_chart,
      :in_element => 'my_line_chart',
      :series => {
        :series_label => 'name',
        :data_label => 'date',
        :data_method => 'quantity',
        :data_series => @series
      },
      :chart_options => { 
        :height => 300,
        :width => 900,
        :axis_font_size => 11,
        :colors => [],
        :title => "Widget Quantities",
        :point_size => 5
      }
    )
 -%&gt;
</pre></code></blockquote>

<p><a href="/">&laquo; Back to Index</a></p>